{% comment %}
  Manual related products using tags
{% endcomment %}

{% assign heading = "You Might Also Like" %}

{% assign related_products = '' %}
{% for tag in product.tags %}
  {% if tag contains 'related-' %}
    {% assign product_handle = tag | remove: 'related-' %}
    {% assign related_products = related_products | append: ',' | append: product_handle %}
  {% endif %}
{% endfor %}
{% assign related_products = related_products | remove_first: ',' | split: ',' %}

{% if related_products.size > 0 %}

<div class="related-products-container">
  <div class="page-width">
    <h2 class="related-products-title">{{ heading }}</h2>
    <div class="grid--uniform grid related-products-grid">
    	<h2 class="related-products-title">{{ heading }}</h2>
    	{%- comment %}<locksmith:4d62>{% endcomment -%}
    	  {%- assign locksmith_4727_forloop__size = 0 %}{% for product_handle in related_products limit: 4 %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product_handle, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_4727_forloop__size = locksmith_4727_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_4727_forloop__index = nil -%}
    	{%- comment %}</locksmith:4d62>{% endcomment -%}
    	{% for product_handle in related_products limit: 4 %}
		    {%- comment %}<locksmith:4c3f>{% endcomment -%}
		      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product_handle, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_4727_forloop__index == nil %}{% assign locksmith_4727_forloop__index = 1 %}{% assign locksmith_4727_forloop__index0 = 0 %}{% else %}{% assign locksmith_4727_forloop__index = locksmith_4727_forloop__index | plus: 1 %}{% assign locksmith_4727_forloop__index0 = locksmith_4727_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_4727_forloop__index == 1 %}{% assign locksmith_4727_forloop__first = true %}{% else %}{% assign locksmith_4727_forloop__first = false %}{% endif %}{% if locksmith_4727_forloop__index == locksmith_4727_forloop__size %}{% assign locksmith_4727_forloop__last = true %}{% else %}{% assign locksmith_4727_forloop__last = false %}{% endif %}{% assign locksmith_4727_forloop__rindex = locksmith_4727_forloop__size | minus: locksmith_4727_forloop__index | minus: 1 %}{% assign locksmith_4727_forloop__rindex0 = locksmith_4727_forloop__size | minus: locksmith_4727_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
		    {%- comment %}</locksmith:4c3f>{% endcomment -%}
		    {% assign product_related = all_products[product_handle] %}
{%- comment -%} Wholesale Gorilla: do not delete unless app is uninstalled{%- endcomment -%}
{%- assign wsgTempProd = product_related -%}{%- assign wsgExclude = false -%}{%- if locksmith_4727_forloop__first == true -%}{%- assign wsgActive = false -%}{%- assign wsgActiveCustomer = false -%}
{%- include 'wsg-status' wsgStatusAction: 'init' | strip -%}{%- endif -%}{%- if wsgActive -%}{%- include 'wsg-status' wsgStatusAction: 'col-item' | strip -%}{%- endif -%}{%- if wsgExclude -%} {%- continue -%} {%- endif -%}
{%- comment -%} end WSG {%- endcomment -%}
		    
		    {% unless product_related == blank %}
			{% unless grid_item_width %}
			  {% assign grid_item_width = 'medium-up--one-quarter small--one-half' %}
			{% endunless %}

			<div class="grid-product grid__item {{ grid_item_width }}">
				<div class="grid-product-inner">
					<a href="{{ product.url | within: collection }}">
					  <img src="{{ product.featured_image.src | img_url: '190x190', crop: 'center' }}" srcset="{{ product.featured_image.src | img_url: '190x190', crop: 'center' }} 1x, {{ product.featured_image.src | img_url: '190x1900', crop: 'center', scale: 2 }} 2x" alt="{{ product.featured_image.alt | escape }}"{% unless product.available %} class="sold-out"{% endunless %}>

					  	<div class="product-title">
				    	  {{ product.title }}
					 	</div>

					  	<div class="product-prices">
						    {% if product.compare_at_price > product.price %}
						      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
						      <s>{{ product.compare_at_price | money }}</s>
						    {% endif %}

						    {% if product.compare_at_price > product.price %}

						      {% if product.price_varies %}
						        {%- assign sale_price = product.price | money -%}
						        <span class="sale-price">from {{ sale_price }}</span>
						      {% else %}
						        <span class="sale-price">{{ product.price | money }}</span>
						      {% endif %}

						      <span class="sale-badge">Sale</span>

						    {% else %}

						      {% if product.price_varies %}
						        {%- assign price = product.price | money -%}
						        {{ 'products.product.from_text_html' | t: price: price }}
						      {% else %}
						        {{ product.price | money }}
						      {% endif %}

						    {% endif %}
						</div> 

						{% unless product.available %}
						<div class="sold-out-badge">
						{{ 'products.product.sold_out' | t }}
						</div>
						{% else %}
						{% if ooak %}
						<span class="ooak-badge">One Of A Kind</span>
						{% endif %}
						{% if new_product %}
						  <span class="new-badge">NEW</span>
						{% endif %}
						{% endunless %}
					</a>
				</div>
			</div>
	        {% endunless %}
	        
	    {% endfor %}
    </div>
  </div>
</div>

{% else %}
  {% include 'related-products-automatic' %}
{% endif %}