<div class="account-pages">
  <div class="form-success hide" id="ResetSuccess">
    {{ 'customer.recover_password.success' | t }}
  </div>

  <div id="CustomerLoginForm">
    {% form 'customer_login' %}
      <h1>{{ 'customer.login.title' | t }}</h1>

      {{ form.errors | default_errors }}

      <label for="CustomerEmail" class="label-hidden">
        {{ 'customer.login.email' | t }}
      </label>
      <input type="email"
             name="customer[email]"
             id="CustomerEmail"
             class="{% if form.errors contains 'email' %}input-error{% endif %}"
             placeholder="{{ 'customer.login.email' | t }}"
             spellcheck="false"
             autocomplete="off"
             autocapitalize="off"
             autofocus>

      {% if form.password_needed %}
        <label for="CustomerPassword" class="label-hidden">
          {{ 'customer.login.password' | t }}
        </label>
        <input type="password"
               name="customer[password]"
               id="CustomerPassword"
               class="{% if form.errors contains 'password' %}input-error{% endif %}"
               placeholder="{{ 'customer.login.password' | t }}">
      {% endif %}

      <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">

      <a href="/">{{ 'customer.login.cancel' | t }}</a>

      <a href="/account/register">
        {{ 'layout.customer.create_account' | t }}
      </a>

      {% if form.password_needed %}
        <a href="#RecoverPasswordForm" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
      {% endif %}
    {% endform %}

  </div>

  {%- if settings.login_info != blank -%}
    <div class="wholesale-login-info">
      <div class="inner-wrapper">
        {%- if settings.login_header != blank -%}
          <h3>{{ settings.login_header }}</h3>
        {%- endif -%}
        
        {{ settings.login_info }}
  
        {%- if settings.login_url != blank -%}
          <a class="text-btn" href="{{ settings.login_url }}">{{ 'customer.login.title' | t }}</a>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div id="RecoverPasswordForm" class="hide">
    <h2 class="h1">{{ 'customer.recover_password.title' | t }}</h2>
    <p>{{ 'customer.recover_password.subtext' | t }}</p>

    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        <span class="hide reset-password-success"></span>
      {% endif %}

      <label for="RecoverEmail" class="label-hidden">
        {{ 'customer.recover_password.email' | t }}
      </label>
      <input type="email"
             name="email"
             id="RecoverEmail"
             placeholder="{{ 'customer.recover_password.email' | t }}"
             spellcheck="false"
             autocomplete="off"
             autocapitalize="off">

      <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">

      <button type="button" class="text-button" id="HideRecoverPasswordLink">
        {{ 'customer.recover_password.cancel' | t }}
      </button>
    {% endform %}

  </div>

  {% if shop.checkout.guest_login %}
    <h2>{{ 'customer.login.guest_title' | t }}</h2>
    {% form 'guest_login' %}
      <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
    {% endform %}
  {% endif %}
{%- style -%}
  .wholesale-login-info {
    text-align: center;
    background-color: #f3f7f9;
    padding: 50px 30px;
    position: relative;
  }
  .wholesale-login-info .inner-wrapper {
    width: 660px;
    max-width: 100%;
    margin: 20px auto 30px auto;
    text-align: center;
  }
  .wholesale-login-info p {
    font-size: 16px;
    text-align: center;
    line-height: 33px;
    font-family: "BrandonGrotesque", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  @media (min-width: 750px) {
    .account-pages {
      display: flex;
      column-gap: 60px;
      align-items: center;
    }
    #CustomerLoginForm {
      width: 50%;
      order: 1;
    }
    .wholesale-login-info {
      width: 50%;
      order: 2;
    }
    #RecoverPasswordForm {
      width: 40%;
      order: 1;
    }
    .wholesale-login-info p {
      font-size: 19px;
    }
  }
{%- endstyle -%}
</div>
