<!-- Google Captcha -->
<script src="https://www.google.com/recaptcha/api.js?render=6LfYKhkmAAAAALg-SgjqzckBYf4Xi5Aub9ylodNM"></script>
<script>
grecaptcha.ready(function() {
    grecaptcha.execute('6LfYKhkmAAAAALg-SgjqzckBYf4Xi5Aub9ylodNM', {action: 'homepage'}).then(function(token) {
       console.log("token", token)
    });
});
</script>
<!-- Google Captcha -->
<div class="account-pages">
  {% form 'create_customer', class: 'create-customer' %}
    <h1>{{ 'customer.register.title' | t }}</h1>
    
    {{ form.errors | default_errors }}

    <label for="FirstName" class="label-hidden">
      {{ 'customer.register.first_name' | t }}
    </label>
    <input type="text"
      name="customer[first_name]"
      id="FirstName"
      placeholder="{{ 'customer.register.first_name' | t }}"
      autofocus
      {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>

    <label for="LastName" class="label-hidden">
      {{ 'customer.register.last_name' | t }}
    </label>
    <input type="text"
      name="customer[last_name]"
      id="LastName"
      placeholder="{{ 'customer.register.last_name' | t }}"
      {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

    <label for="Email" class="label-hidden">
      {{ 'customer.register.email' | t }}
    </label>
    <input type="email"
      name="customer[email]"
      id="Email"
      class="{% if form.errors contains 'email' %}input-error{% endif %}"
      placeholder="{{ 'customer.register.email' | t }}"
      value="{% if form.email %}{{ form.email }}{% endif %}"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off">

    <label for="CreatePassword" class="label-hidden">
      {{ 'customer.register.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="CreatePassword"
      class="{% if form.errors contains 'password' %}input-error{% endif %}"
      placeholder="{{ 'customer.register.password' | t }}">
    <div id="accepts_marketing">
      <label class="control control--checkbox">
        {{ 'customer.register.marketing' | t }}
        <input type="checkbox" name="customer[accepts_marketing]" checked="checked" value="true" id="marketing" />
        <div class="control__indicator"></div>
      </label>
    </div>
    <p>
      <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
    </p>
    <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
    <a href="/account/login">Already have an account?</a>
  {% endform %}
{%- style -%}
  #accepts_marketing {
    display: flex !important;
    align-items: center !important;
  }
  #accepts_marketing .control {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
  }
  #accepts_marketing .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  #accepts_marketing .control__indicator {
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
  }
  #accepts_marketing .control:hover input ~ .control__indicator,
  #accepts_marketing .control input:focus ~ .control__indicator {
    background: #ccc;
  }
  #accepts_marketing .control input:checked ~ .control__indicator {
    background: #000;
  }
  #accepts_marketing .control:hover input:not([disabled]):checked ~ .control__indicator,
  #accepts_marketing .control input:checked:focus ~ .control__indicator {
    background: #000;
  }
  #accepts_marketing .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  #accepts_marketing .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  #accepts_marketing .control input:checked ~ .control__indicator:after {
    display: block;
  }
  #accepts_marketing .control--checkbox .control__indicator:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  #accepts_marketing .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }
{%- endstyle -%}
</div>