{%- comment %}<locksmith:a700>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:a700>{% endcomment -%}

<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>{{ locksmith_initializations }}
{% render 'pagefly-head' %}
 
<!-- EASYGIFT SCRIPT -->
{% if customer %}
  <script type="text/javascript" src="https://cdn.506.io/eg/script.js?shop=the-foggy-dog.myshopify.com&id={{ customer.id }}&order_count={{ customer.orders_count }}&total_spent={{ customer.total_spent }}&tags={{ customer.tags | join: "," }}"></script>
{% else %}
  <script type="text/javascript" src="https://cdn.506.io/eg/script.js?shop=the-foggy-dog.myshopify.com"></script>
{% endif %}
<!-- END EASYGIFT SCRIPT -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="facebook-domain-verification" content="8b5fw8qxwabbgicw6155gzcy78autt" />
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    {%- comment %}<locksmith:12ef>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
      {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:12ef>{% endcomment -%}
  {% endif %}

  {% include 'social-meta-tags' %}
  
  {{ '39A6E7_0_0.woff2' | asset_url | preload_tag: as: 'font' }}
  {{ '39A6E7_1_0.woff2' | asset_url | preload_tag: as: 'font' }}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {% if settings.search_console != blank %}
    {% if template.name == 'index' %}
    {{ settings.search_console }}
    {% endif %}
  {% endif %}

  <!-- Require jQuery for mobile menu and other scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/w6RYdbKD3lpNY9D2y8cJ9A" async></script>

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    {% if template.suffix == "pre-order" %}
      window.theme = {
        strings: {
          addToCart: {{ 'Pre-order' | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          preorder: {{ 'products.product.preorder' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
      };
    {% else %}
      window.theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          preorder: {{ 'products.product.preorder' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
      };
    {% endif %}
  </script>


  <script type="text/javascript" src="{{ 'option_selection.js' | asset_url }}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}

  {% include 'judgeme_core' %}

  {% if template == 'collection' %}
  {% section 'filter-menu-settings' %}
  {% endif %}

  {% include 'wsg-header' %}
  
  {{ 'jquery-3.4.1.js' | asset_url | script_tag }}
  {{ 'rivets-cart.js' | asset_url | script_tag }}
 
{% render 'pagefly-header' %}
  
 <!-- Global site tag (gtag.js) - Google Ads: 852770528 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-852770528"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-852770528');
</script>
  
  
  <script src="https://www.dwin1.com/19038.js" type="text/javascript" defer="defer"></script>
  <!-- Hotjar Tracking Code for www.thefoggydog.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2507026,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!--<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/w6RYdbKD3lpNY9D2y8cJ9A" async></script>-->

</head> 

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  
  <script type="text/javascript">
    $( function () {
      console.log('loaded cart');
      CartJS.init({{ cart | json }}, {
                  "dataAPI": true,
                  "debug": true,
                  "currency": "{{ shop.currency }}",
                  "moneyFormat": "{{ shop.money_format }}",
                  "moneyWithCurrencyFormat": "{{ shop.money_with_currency_format }}"
                  });
    });
  </script>
  
  {% include 'ie-modal' %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main role="main" id="MainContent"{% unless template contains 'product' or template == 'index' or template == 'page.rewards' or page.handle == 'about-us' or page.handle == 'contact-us' %} class="page-width"{% endunless %}>
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  {% if template == 'collection' %}
  <script>
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  jQuery('#sort-by')
    .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
    .bind('change', function() {
      Shopify.queryParams.sort_by = jQuery(this).val();
      location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
    });
  </script>
  {% endif %}

  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=N7JGtQ"></script>
  

<style>
  .spurit-po-wrapper{
    width: 76%;

  }
  .design-pre-order-template-wrapper{
    width: 100%;
  }
  .design-pre-order-template-wrapper button {
    width: 100%;
    margin-left: 20px;
  }

  .design-pre-order-template-wrapper button>span{
    background-color: black !important;
    color: white;
  }

  @media only screen and (max-width: 749px) {
    .spurit-po-wrapper{
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
    .design-pre-order-template-wrapper{
      width: 100%;
      margin-left: 0;
    }
    .design-pre-order-template-wrapper button {
      width: 100%;
      margin-left: 0;
    }
  }
</style>

<script type="text/javascript" src="https://s3.amazonaws.com/lastsecondcoupon/js/quickannouncementbar.js?shop=the-foggy-dog.myshopify.com"></script>


<!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
  
  <script>
    (function(){
    var s = document.createElement('script'),
    e = ! document.body ? document.querySelector('head') : document.body;
    s.src = 'https://acsbapp.com/apps/app/dist/js/app.js';
    s.async = true;
    s.onload = function(){
    acsbJS.init({
    statementLink    : '',
    footerHtml       : '',
    hideMobile       : true,
    hideTrigger      : true,
    language         : 'en',
    position         : 'left',
    leadColor        : '#146FF8',
    triggerColor     : '#146FF8',
    triggerRadius    : '50%',
    triggerPositionX : 'right',
    triggerPositionY : 'bottom',
    triggerIcon      : 'people',
    triggerSize      : 'medium',
    triggerOffsetX   : 20,
    triggerOffsetY   : 20,
    mobile           : {
    triggerSize      : 'small',
    triggerPositionX : 'right',
    triggerPositionY : 'center',
    triggerOffsetX   : 0,
    triggerOffsetY   : 0,
    triggerRadius    : '50%'
    }
    });
    };
    e.appendChild(s);
    }());
  </script>
  
  {% if template contains 'product' %}
    <script type="text/javascript">                                                               
    document.addEventListener('click', function (event) {
      if (!event.target.matches('.add-to-cart, .add-to-cart *')) return;
     gtag('event', 'conversion', {'send_to': 'AW-852770528/pBCLCP2atJEDEOD90JYD', 'value': {{ product.selected_or_first_available_variant.price | money_without_currency }}, 'currency': 'USD'});
    }, false);                                                                 
    </script>
  {% endif %}


<!-- Back in Stock helper snippet -->
{% render 'back-in-stock-helper' %}
<!-- End Back in Stock helper snippet -->
</body>
</html>
<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.1) -->
<script type="text/javascript">
  // Liquid variables:
  var afterpay_product = {{ product | json }};
  var afterpay_product_variant = {{ product.selected_or_first_available_variant | json }};
  var afterpay_cart_total_price = {{ cart.total_price | json }};
</script>
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.1) -->