<div class="about-page" id="charity">

  <div class="page-width">

    <div class="about-charity">

      <div class="about-charity-image">
        <img src="{{ section.settings.image | img_url: '625x' }}" srcset="{{ section.settings.image | img_url: '625x' }} 1x, {{ section.settings.image | img_url: '625x', scale: 2 }} 2x" alt="{{ section.settings.image.alt }}">
      </div>

      <div class="about-charity-text">

        {% if section.settings.about_large_text != blank %}
        <div class="about-charity-heading">
          {{ 'foggydog-about-good-news-illustration-badge.svg' | asset_url | img_tag }}
          {{ section.settings.about_large_text }}
        </div>
        {% endif %}

        {% if section.settings.about_intro_small_text != blank %}
        <div class="about-charity-description">
          {{ section.settings.about_intro_small_text }}
        </div>
        {% endif %}

        <div class="about-charity-button">
          <a class="text-btn" href="{{ section.settings.button_link }}">
            {{ section.settings.button_text }}
          </a>
        </div>

      </div>
      
    </div>

  </div>

</div>

{% schema %}
  {
    "name": "About Charity",
    "settings": [
      {
        "type": "header",
        "content": "About Charity"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "About Charity Image"
      },
      {
        "type": "richtext",
        "id": "about_large_text",
        "label": "Charity Large Text"
      },
      {
        "type": "richtext",
        "id": "about_intro_small_text",
        "label": "Charity Small Text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ]
  }
{% endschema %}