{% include 'saw_variant_variables' %}
{% include 'saw_product_variables' %}

<script>
  window.shopifyProduct = {
    "id": {{ product.id }},
    "is_loop_final_sale": {{ settings.loop_final_sale | default: false }},
    "variants": [
      {%- for variant in product.variants -%}
        {
          "id": {{ variant.id }},
          "max_chars": {{ variant.metafields.personalization.max_char_set.value | json }}
        }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
</script>

{% capture product_customizer %}
  <div
    class="js-app"
    data-product-id="{{ product.id }}"
    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
    data-product-title="{{ product.title }}"
  >
    <div is="ProductCustomizer"></div>
  </div>
{% endcapture %}

{% assign on_sale = false %}
{% if WCProductComparePrice > WCProductPrice %}
  {% assign on_sale = true %}
{% endif %}

{% assign waitlist = false %}
{% if product.tags contains 'Waitlist' or product.tags contains 'waitlist' %}
{% assign new_product = 'Waitlist' %}
{% endif %}

{% assign new_product = false %}
{% if product.tags contains 'New' or product.tags contains 'new' %}
{% assign new_product = 'New Arrival' %}
{% endif %}

{% assign best_seller = false %}
{% if product.tags contains 'best-seller' or product.tags contains 'Best Seller' %}
{% assign best_seller = 'Best Seller' %}
{% endif %}

{% assign limited_edition = false %}
{% if product.tags contains 'limited-edition' or product.tags contains 'Limited Edition' %}
{% assign limited_edition = 'Limited Edition' %}
{% endif %}

{% assign oprah = false %}
{% if product.tags contains 'oprah' or product.tags contains 'Oprah' %}
{% assign oprah = 'As Seen In Oprah' %}
{% endif %}

{% assign bandana = false %}
{% if product.type == 'Bandana' %}
{% assign bandana = 'Buy 3 or more bandanas and save 15%' %}
{% endif %}

{% assign pre_order = false %}
{% for tag in product.tags %}
  {% if tag contains "pre-ship" %}
  {% assign pre_order = 'Pre-Order' %}
  {% endif %}
{% endfor %}

{% assign sold_out = 'Waitlist' %}

{% assign title_split = product.title | split: "-" %}

{% for collection in product.collections %}
  {% if collection.handle == 'dog-bandanas' or collection.handle == 'dog-collars' or collection.handle == 'dog-bow-tie-collars' or collection.handle == 'dog-beds' or collection.handle == 'face-mask-and-bandana-sets' or collection.handle == 'dog-harness' or collection.handle == 'walk-sets' or collection.handle == 'wear-sets' or collection.handle == 'scrunchie-and-bandana-set' or collection.handle == 'lady-bow-collar' %}
    {% assign show_size_guide = true %}
  {% endif %}
{% endfor %}
{% assign my_description = product.description | split: '<!-- split -->' %}

<div class="product-wrapper">
  <div class="page-width">
    {% include 'breadcrumb' %}
  </div>

  <div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

    <div class="page-width">

      {% if product.variants.size == 1 %}
      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {% else %}
      {%- assign current_variant = product.selected_variant -%}
      {% endif %}
      {%- assign featured_image = current_variant.image | default: product.featured_image -%}

      <div class="product-content">

        <div class="grid grid-100">
          <div class="grid__item medium-up--five-eighths">
            <div class="product-left">
              <div class="grid--rev grid-narrow">
                <div class="grid__item medium-up--five-sixths">
                  <div class="product-main-image">
                    {% comment %}
                    <div class="zoom">{% include 'icon-search' %}</div>
                    {% endcomment %}
                    {% for media in product.media %}
                      {% if media.alt == "Hidden" %}
                        {% continue %}
                      {% endif %}

                      {% case media.media_type %}
                        {% when 'image' %}
                          {% if media.alt contains 'swatch' %}
                            {% continue %}
                          {% endif %}
                          <div class="item slick-slide" data-image-variant="{% for variant in media.variants %}{{ variant.title }} {% endfor %}">
                            <a href="{{ media.src | img_url: '875x875' }}" data-fancybox="gallery" data-product-featured-pop>

                              <img height="550" width="550" data-product-featured-image
                                  src="{{ media.src | img_url: '550x550' }}"
                                  srcset="{{ media.src | img_url: '550x550' }} 1x, {{ media.src | img_url: '550x550', scale: 2 }}, 2x" alt="{{ media.alt | escape }}" data-image-id="{{ media.id }}" style="height: auto">

                            </a>
                          </div>
                        {% when 'external_video' %}
                          {% liquid
                            if media.host == "youtube"
                              assign url = "https://www.youtube.com/embed/" | append: media.external_id | append: "?controls=1&amp;enablejsapi=1&amp;modestbranding=1&amp;playsinline=1&amp;rel=0"
                            elsif media.host == "vimeo"
                              assign url = "https://player.vimeo.com/video/" | append: media.external_id | append: "?byline=0&amp;controls=1&amp;playsinline=1&amp;title=0"
                            endif
                          %}
                          <div class="item slick-slide" data-image-variant="{% for variant in media.variants %}{{ variant.title }} {% endfor %}">
                            <a href="{{ url }}"  data-fancybox="gallery" data-fancybox-type="iframe" data-product-featured-pop class="external-video">
                              <img height="550" width="550" data-product-featured-image
                                  src="{{ media.preview_image | image_url: width: 450, height: 450, crop: 'top', format: 'pjpg', pad_color: 'ffffff'  }}"

                                  alt="{{ media.alt | escape }}" data-image-id="{{ media.id }}" style="height: auto">
                              {% include 'icon-play' %}
                            </a>
                          </div>
                        {% else %}
                          {% continue %}
                      {% endcase %}
                    {% endfor %}
                  </div>
                </div>
               <div class="grid__item medium-up--one-sixth small--hide">
                  <div class="thumbs">
                      <div class="product-thumbs thumbs-slider grid--uniform">
                        {% for media in product.media %}
                          {% if media.alt == "Hidden" %}
                            {% continue %}
                          {% endif %}

                          {% case media.media_type %}
                            {% when 'image' %}
                              {% if media.alt contains 'swatch' %}
                                {% continue %}
                              {% endif %}
                              <div class="item slick-slide">
                                <a href="{{ media.src | img_url: '875x875' }}" data-product-single-thumbnail>
                                  <img class="lazyload" data-src="{{ media.src | img_url: '100x100', crop: 'center' }}" alt="{{ media.alt | escape }}" data-image-id="{{ media.id }}">
                                </a>
                              </div>
                            {% when 'external_video' %}
                              <div class="item slick-slide">
                                <a href="{{ media.preview_image | img_url: '875x875' }}" data-product-single-thumbnail>
                                  <img class="lazyload" data-src="{{ media.preview_image | img_url: '100x100', crop: 'center' }}" alt="{{ media.alt | escape }}" data-image-id="{{ media.id }}">
                                </a>
                              </div>
                            {% else %}
                              {% continue %}
                          {% endcase %}
                        {% endfor %}
                      </div>
                  </div>
                </div>
              </div>
              {% include 'complete-the-look' %}
            </div>
          </div>
          <div class="grid__item medium-up--three-eighths">
            <div class="product-right">
              <div class="product-heading">

                <div class="product-badges">
                {% unless product.available %}
                  {% if waitlist %}
                    <span class="product-badge sold-out-badge">{{ waitlist }}</span>
                  {% else %}
                    <span class="product-badge sold-out-badge">{{ sold_out }}</span>
                  {% endif %}
                {% else %}
                  {% if new_product %}
                    <span class="product-badge">{{ new_product }}</span>
                  {% endif %}
                  {% if best_seller %}
                    <span class="product-badge">{{ best_seller }}</span>
                  {% endif %}
                  {% if oprah %}
                    <span class="product-badge">{{ oprah }}</span>
                  {% endif %}
                  {% if limited_edition %}
                    <span class="product-badge">{{ limited_edition }}</span>
                  {% endif %}
                {% endunless %}
                </div>
                <h1 class="product-title">
                  {{ product.title }}
                </h1>
              </div>

              <div class="offers">
                {% capture "form_classes" -%}
                cart-form product-form product-form-{{ section.id }}
                {%- endcapture %}

                {% form 'product', product, class: form_classes, data-product-form: '', data-cart-submit: '' %}
                <div class="price-container">
                    {% if product.metafields.okendo.summaryData.reviewCount > 0 %}
                      {% render 'okendo-reviews-product-rating-summary', product: product %}
                      <br />
                    {% endif %}

                    <div class="initial-price">
                      {% if WCProductComparePrice > 0 %}
                      <s data-compare-price>{{ WCProductComparePrice | money }}</s>
                      <span class="sale-price">{% if product.price_max != product.price_min %}from {% endif %} {{ WCProductPriceMin | money }}</span>
                      {% else %}
                      {% if product.price_max != product.price_min %}from {% endif %} {{ WCProductPriceMin | money }}
                      {% endif %}
                    </div>

                    <div class="product-prices" data-price-wrapper>
                      {% if WCProductComparePriceMax > WCProductPrice %}
                        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                        <s data-compare-price>
                          {% if WCVariantCurrentVariantComparePrice > WCVariantCurrentVariantPrice %}
                            {{ WCVariantCurrentVariantComparePrice | money }}
                          {% endif %}
                        </s>&nbsp;
                        <span class="sale-price" data-product-price>
                          {{ WCVariantCurrentVariantPrice | money }}
                        </span>
                      {% else %}
                        <span data-product-price>
                          {{ WCVariantCurrentVariantPrice | money }}
                        </span>
                      {% endif %}
                    </div>

                    <div class="product-stock" data-product-stock{% if product.metafields.sale.final_sale %}-final-sale{% endif %}>
                      {% if product.metafields.sale.final_sale or current_variant.metafields.sale.final_sale %}
                        Final Sale
                      {% elsif current_variant.inventory_quantity < 4 and current_variant.inventory_quantity > 0 %}
                        Only {{ current_variant.inventory_quantity }} Left!
                      {% endif %}
                    </div>

                  </div>
                  <span class="excerpt">
                    {{ product.vendor }}
                  </span>
                  <hr />

                  {% unless product.metafields.hide.add_to_cart %}
                    {% assign colored_products = '' %}
                    {% for tag in product.tags %}
                      {% if tag contains 'like-' %}
                        {% assign product_handle = tag | remove: 'like-' %}
                        {% assign colored_products = colored_products | append: ',' | append: product_handle %}
                      {% endif %}
                    {% endfor %}
                    {% assign colored_products = colored_products | append: ',' | append: product.handle %}
                    {% assign colored_products = colored_products | remove_first: ',' | split: ',' %}

                    {% if colored_products.size > 1 %}
                      <div class="color-recommend">
                          <p style="flex: 0 0 100%">Color: {{ product.title }}</p>
                          {% assign colored_products = colored_products | sort %}
                          {% for product_handle in colored_products %}
                          {% assign product_rel = all_products[product_handle] %}
                          {% assign product_swatch = '' %}
                          {% for image in product_rel.images %}
                            {% if image.alt contains 'swatch' %}
                              {% assign product_swatch = image %}
                            {% endif %}
                          {% endfor %}

                          <div{% if product_rel.handle == product.handle %} class="current-color"{% endif %}>
                            <a href="{{product_rel.url}}"{% if product_swatch != blank %} class="custom-swatch"{% endif %}>
                              {% if product_swatch != blank %}
                              <img src="{{ product_swatch | img_url: '120x120', scale: 2 }}" alt="{{ product_swatch.alt | escape }}">
                              {% else %}
                              <img src="{{ product_rel.featured_image | img_url: '120x120', scale: 2 }}" alt="{{ product_rel.featured_image.alt | escape }}">
                              {% endif %}
                            </a>
                          </div>
                          {% endfor %}
                      </div>
                    {% endif %}

                    {% unless product.variants.size == 1 %}
                      {% for option in product.options_with_values %}
                        {% assign option_name = option.name | replace: "Title", "Options" %}
                        <div class="selector-wrapper js">
                          <div class="size-grid">
                            <label class="product-label"
                              for="SingleOptionSelector-{{ forloop.index0 }}">
                                {{ option_name }}:
                            </label>
                            {% if forloop.index == 1 %}
                              {% if show_size_guide %}
                                <button data-fancybox data-touch="false" data-src="#chart-pop" id="size-chart-btn">
                                  {% include 'icon-size-guide' %}
                                  <span>Size Guide</span>
                                </button>
                              {% endif %}
                            {% endif %}
                            {% if option_name contains 'Fill' %}
                              <button data-fancybox data-touch="false" data-src="#insert-pop" style="justify-content: flex-end;" id="size-chart-btn">
                                  <span>Learn More</span>
                              </button>
                            {% endif %}
                          </div>

                          {% assign optionNo = 'option' | append: forloop.index %}

                          <select
                            id="SingleOptionSelector-{{ forloop.index0 }}"
                            data-option-name="{{ option.name | handleize }}"
                            data-single-option-selector
                            data-index="option{{ option.position }}">
                            {% for value in option.values %}
                              {% assign option_available = nil %}
                              {% assign value_handle =  value | handleize %}
                              {% if product.variants[forloop.index0].available %}
                                {% assign option_available = false %}
                              {% endif %}
                              {% for cv in product.variants %}
                                {% if cv[optionNo] == value and cv.available %}
                                  {% assign option_available = true %}
                                {% endif %}
                              {% endfor %}
                              <option data-i="{{option_available}}" value="{{ value | escape }}"{% unless option_available %} class="disabled"{% endunless %}>
                                  {% if product.title contains 'Bow Tie' or product.title contains 'bow tie' %}
                                  {{ value | strip }}
                                  {% else %}
                                  {{ value | strip | replace: "Extra Small", "XS" | replace: "Small", "S" | replace: "Medium", "M" | replace: "Extra Large", "XL" | replace: "Large", "L" }}
                                  {% endif %}
                              </option>
                            {% endfor %}
                          </select>

                          {% if size_guide != blank %}
                            <div class="size-guide-link">
                              <a data-fancybox data-touch="false" data-src="#{{ size_guide }}" href="javascript:;">
                                {{ section.settings.size_guide_label }}
                              </a>
                            </div>
                            {% assign page = pages[size_guide] %}
                            <div class="size-chart" id="{{size_guide}}">
                              <h2>{{ page.title }}</h2>
                              {{ page.content }}
                            </div>
                          {% endif %}
                        </div>
                      {% endfor %}
                    {% endunless %}

                    <select name="id" class="no-js" data-product-select>
                      {% for variant in product.variants %}
                        <option
                          {% unless variant.available %}disabled="disabled"{% endunless %}
                          value="{{ variant.id }}">
                            {{ variant.title | escape }}
                            {% comment %} ({{ variant.inventory_quantity }}){% endcomment %}
                        </option>
                      {% endfor %}
                    </select>

                    {% comment %}
                    {% if bandana %}
                      <p class="bundle-discount">{{ bandana }}</p>
                    {% endif %}
                    {% endcomment %}

                    <div class="quantity-wrapper">
                      <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                      <div class="quantity-fields">
                        <div class="quantity-selector">
                          <input type="number" id="Quantity" name="quantity" value="1" min="1">
                        </div>
                      </div>

                      <div class="product-prices product-prices-mobile" data-price-wrapper>
                        {% if WCProductComparePriceMax > WCProductPrice %}
                          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                          <s data-compare-price>
                            {% if WCVariantCurrentVariantComparePrice > WCVariantCurrentVariantPrice %}
                              {{ WCVariantCurrentVariantComparePrice | money }}
                            {% endif %}
                          </s>&nbsp;
                          <span class="sale-price" data-product-price>
                            {{ WCVariantCurrentVariantPrice | money }}
                          </span>
                        {% else %}
                          <span data-product-price>
                            {{ WCVariantCurrentVariantPrice | money }}
                          </span>
                        {% endif %}
                      </div>
                        {% unless customer.tags contains "wholesale" %}
                          {{ product_customizer }}
                        {% endunless %}

                        {% if product.variants.size > 1 %}
                          <button class="Rise-add-to-cart-button btn add-to-cart" type="submit" name="add" id="adds" data-add-to-cart>
                            <span data-add-to-cart-text>
                              Select An Option
                            </span>
                          </button>

                          <p class="estimated-date" style="display:none">{{ variant.metafields.preorder.message }} {{ variant.metafields.preorder.date | date: "%B %d, %Y" }}</p>

                          <div class="preorder__prop">
                            {% if variant.metafields.preorder.message != blank %}
                              <input type="hidden" class="estimated-date-attr" id="pre-order" name="properties[Pre Order]" value='{{ variant.metafields.preorder.message }} {{ variant.metafields.preorder.date | date: "%B %d, %Y" }}' />
                            {% endif %}
                          </div>
                        {% else %}
                          {% if product.available %}
                            {% if product.selected_or_first_available_variant.inventory_management == 'shopify' %}
                              {% if product.selected_or_first_available_variant.inventory_policy ==  'continue' %}
                                  {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
                                    <button class="btn add-to-cart" type="submit" name="add" id="adds" data-add-to-cart>
                                      <span data-add-to-cart-text>
                                        Add to cart
                                      </span>
                                    </button>
                                  {% else %}
                                      <button class="btn add-to-cart" type="submit" name="add" id="adds" data-add-to-cart>
                                        <span data-add-to-cart-text>
                                          Pre Order
                                        </span>
                                      </button>
                                      <p class="estimated-date">{{ product.metafields.preorder.preorder_message }} {{ product.metafields.preorder.preorder_date | date: "%B %d, %Y" }}</p>
                                      {% if product.metafields.preorder.preorder_message != blank %}
                                        <input type="hidden" class="estimated-date-attr" id="pre-order" name="properties[Pre Order]" value='{{ product.metafields.preorder.preorder_message }} {{ product.metafields.preorder.preorder_date | date: "%B %d, %Y" }}' />
                                      {% endif %}
                                  {% endif %}
                              {% else %}
                                {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
                                  <button class="btn add-to-cart" type="submit" name="add" id="adds" data-add-to-cart>
                                    <span data-add-to-cart-text>
                                      Add to cart
                                    </span>
                                  </button>
                                {% else %}
                                  <button class="btn add-to-cart" type="submit" name="add" id="add" disabled>
                                    <span >
                                      Out of Stock
                                    </span>
                                  </button>
                                {% endif %}
                              {% endif %}
                            {% else %}
                              <button class="btn add-to-cart" type="submit" name="add" id="adds" data-add-to-cart>
                                <span data-add-to-cart-text>
                                  Add to cart
                                </span>
                              </button>
                            {% endif %}
                          {% else %}
                            <button class="btn add-to-cart" type="submit" name="add" id="add" data-add-to-cart disabled>
                              <span data-add-to-cart-text>
                                Out of stock
                              </span>
                            </button>
                          {% endif %}
                        {% endif %}

                    </div>
                  {% endunless %}
                  <div style="display:none" class="btn gwbutton">Send as a Gift</div>
                <style> .gwbutton {margin-right: 15px;
    margin-bottom: 15px;border: 0; flex-grow: 1; font-size: 12px;
    letter-spacing: 2.1px;
    font-weight: 700;line-height: 48px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #1a1919;
    color: #fff;
                  height: 100%;</style>

                  <div class="bis-button"{% if product.available %} style="display: none;"{% endif %}>
                      <a class="btn" id="BIS_trigger">notify me when back in stock</a>
                  </div>

                  {% assign bundle_product = '' %}
                  {% if product.metafields.upsell.product != blank %}
                    {% assign bundle_product = product.metafields.upsell.product %}
                    {% assign bundle_text = product.metafields.upsell.text %}
                  {% else %}
                      {% for tag in product.tags %}
                        {% if tag contains 'bundled-' %}
                          {% assign bundle_product = tag | remove: 'bundled-' %}
                      {% assign bundle_text = section.settings.bundle_text %}
                        {% endif %}
                      {% endfor %}
                  {% endif %}
                  {% if bundle_product != blank %}
                  <div class="bundled">
                      <a href="{{ all_products[bundle_product].url }}">
                        <img class="lazyload" height="126" width="126" data-src="{{ all_products[bundle_product].featured_image | img_url: '126x' }}" style="height: auto" />
                      </a>
                    <div>
                      <p>{{ bundle_text }}</p>
                      <a href="{{ all_products[bundle_product].url }}">Shop Now</a>
                    </div>
                  </div>
                  {% endif %}
                  <p class="shelter-dog">
                    Every order feeds a shelter dog. <a data-fancybox data-src="#shelter-pop" id="open-shelter" href="javascript:;">Learn More</a>
                  </p>

                  <div class="product-description">
                    <div class="rte">
                      {{ product.description | remove: "<h6></h6>" }}
                    </div>
                  </div>

                  <div class="product-properties">

                    {% if section.settings.show_share_buttons %}
                      <h3>share this product!</h3>
                      {% capture share_title %}{{ product.title }} by {{ shop.name }}{% endcapture %}
                      {% include 'social-sharing', share_permalink: product.url, share_image: product %}
                    {% endif %}
                    
                  </div>

                  {% comment %}
                  <!-- uncomment for dynamic checkout buttons -->
                  {{ form | payment_button }}
                  {% endcomment %}

                {% endform %}
                
              </div>
            </div>
          </div>
        </div>

        {% unless product == empty %}
          <script type="application/json" data-product-json>
            {%- include 'saw_product_json' with product -%}{{- saw_json -}}
          </script>
        {% endunless %}

        {% assign trackQuantity = '' %}
        {% assign quantityAvailable = '' %}
        {% assign preOrder = '' %}
        {% assign estimatedDate = '' %}
        {% assign quantityCaps = '' %}
        {% assign preorderActive = false %}

        {% for variant in product.variants %}
          {%- if variant.metafields.preorder.date != blank -%}
            {% capture now %}{{ 'now' | date: '%s' }}{% endcapture %}
            {% capture preorderdate %}{{ variant.metafields.preorder.date | date: '%s' }}{% endcapture %}
            {%- if preorderdate > now -%}
              {% assign preorderActive = true %}
            {%- endif -%}
          {%- endif -%}
          {% capture quantity %},"{{ variant.id }}":"{{ variant.inventory_quantity }}"{% endcapture %}
          {% assign quantityAvailable = quantityAvailable | append: quantity %}

          {% capture estimatedDateFlag %},"{{ variant.id }}":"{{ variant.metafields.preorder.message }} {{ variant.metafields.preorder.date | date: "%B %d, %Y" }}"{% endcapture %}
          {% assign estimatedDate = estimatedDate | append: estimatedDateFlag %}

          {% capture quantityCapsFlag %},"{{ variant.id }}":"{{ variant.metafields.preorder.limit }}"{% endcapture %}
          {% assign quantityCaps = quantityCaps | append: quantityCapsFlag %}

          {% capture finalSale %},"{{ variant.id }}":{{ variant.metafields.sale.final_sale.value | json }}{% endcapture %}
          {% assign finalSaleData = finalSaleData | append: finalSale %}
        {% endfor %}

        <script type="application/json" data-preorder-json>
          {
            "isPreorderProduct": {{ preorderActive | json }},
            "quantityAvailableData": { {{ quantityAvailable | remove_first: ',' }} },
            "estimatedDateData": { {{ estimatedDate | remove_first: ',' }} },
            "quantityCapsData": { {{ quantityCaps | remove_first: ',' }} },
            "finalSaleData": { {{ finalSaleData | remove_first: ',' }} }
          }
        </script>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "textarea",
        "id": "bundle_text",
        "label": "Bundle Text"
      }
    ],
    "blocks": [
    ]
  }
{% endschema %}
{% javascript %}

  $('.thumbs-slider').slick({
    dots: false,
    vertical: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    swipe: false,
    infinite: false,
    responsive: [
        {
          breakpoint: 749,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 500,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        }
      ]
  });

  $('.product-main-image').slick({
    dots: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    infinite: true
  });

  if ($('.complete-the-look-container').length > 0) {
    $('.complete-the-look-slider').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      dots: false,
      infinite: true,
      responsive: [
        {
          breakpoint: 1023,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        }
      ]
    });

    $(document).ready(function() {
      if ($(window).width() < 750) {
        var crossSell = $('.complete-the-look-container').detach();
        crossSell.appendTo('div.product-right');
      }
    });
  }

  const checkElement = async selector => {
    while ( document.querySelector(selector) === null) {
        await new Promise( resolve =>  requestAnimationFrame(resolve) )
    }
    return document.querySelector(selector);
  };

  checkElement('.cross-sell')
  .then((element) => { 
    $('ul.cross-sell').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      dots: false,
      responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          infinite: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 500,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
    });
  }); 
{% endjavascript %}