{% if section.settings.chart_enable %}
<div class="sizechart breed" id="breed">
  <div class="page-width">

    {% if section.settings.image != blank %}
      <div class="flex-grid flex-grid--rev">
        <div class="grid__item medium-up--two-thirds">
          <h2 class="h1">{{ section.settings.heading }}</h2>
          <p>{{ section.settings.text }}</p>
        </div>

        <div class="grid__item medium-up--one-third">
          {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | img_url: '300x' }}" alt="{{ section.settings.image.alt }}" />
          {% endif %}
        </div>
      </div>
    {% else %}
      <h2 class="h1">{{ section.settings.heading }}</h2>
      <p>{{ section.settings.text }}</p>
    {% endif %}

    {% liquid
      assign hasHarness = false
      for block in section.blocks
        if block.settings.harness_size != ""
          assign hasHarness = true
        endif
      endfor
    %}

    <div class="size-table responsive">
        <table class="breeds">
            <thead>
                <tr>
                    <th scope="col" class="left">Breed</th>
                    <th scope="col">Weight (lbs)</th>
                    <th scope="col">Neck Size</th>
                    <th scope="col">Bed Size</th>
                    <th scope="col">Collar Size</th>
                    <th scope="col">Bandana Size</th>
                    {% if hasHarness %} <th scope="col">Harness Size</th> {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for block in section.blocks %}
                        <tr>
                            <td scope="row">
                                <strong>{{ block.settings.breed_name }}</strong>
                            </td>
                            <td class="center" valign="top">{{ block.settings.bed_weight }}</td>
                            <td class="center" valign="top">{{ block.settings.breed_neck }}</td>
                            <td class="center" valign="top">{{ block.settings.bed_size }}</td>
                            <td class="center" valign="top">{{ block.settings.collar_size }}</td>
                            <td class="center" valign="top">{{ block.settings.bandana_size }}</td>
                            {% if hasHarness %} <td class="center" valign="top">{{ block.settings.harness_size }}</td> {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div> 
  </div>
  </div>
  {% endif %}
  {% schema %}
    {
      "name": "Dog Breed Size Chart",
      "settings": [
        {
          "type": "header",
          "content": "Breed Size"
        },
        {
            "type": "checkbox",
            "id": "chart_enable",
            "label": "Show Chart",
            "default": true,
            "info": "enable is diable chart"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ],
      "blocks": [
        {
          "type": "breed",
          "name": "Breed Size",
          "settings": [
            {
                "type": "text",
                "id": "breed_name",
                "label": "Breed Name"
            },
            {
                "type": "text",
                "id": "breed_neck",
                "label": "Breed Neck Size"
            },
            {
              "type": "text",
              "id": "bed_weight",
              "label": "Breed Weight"
            },
            {
                "type": "text",
                "id": "bed_size",
                "label": "Bed Size"
            },
            {
              "type": "text",
              "id": "collar_size",
              "label": "Collar Size"
            },
            {
                "type": "text",
                "id": "bandana_size",
                "label": "Bandana Size"
            },
            {
                "type": "text",
                "id": "harness_size",
                "label": "Harness Size"
            }
          ]
        }
      ]
    }
  {% endschema %}