{% assign insert_alert = 'Please note: dog bed inserts ship separately' %}

<div class="wrapper cart-container">

<div class="text-center">
  <h1 class="page-title">{{ 'cart.general.title' | t }}</h1>
</div>

{% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate>
    <table class="responsive-table">
      <thead class="small--hide">
        <tr>
          <th>Image</th>
          <th>{{ 'cart.label.product' | t }}</th>
          <th>{{ 'cart.label.price' | t }}</th>
          <th>{{ 'cart.label.quantity' | t }}</th>
          <th>{{ 'cart.label.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
          {% assign insert_in_cart = false %}
        {% for item in cart.items %}
        {% include 'saw_cart_variables' %}

        {% comment %}

        Cart Item Template
        =====================
        The data-label attributes on <td> elements are mobile-friendly
        helpers used for responsive-table labels
        {% endcomment %}

          <tr class="responsive-table-row">
            <td data-label="{{ 'customer.order.product' | t }}">
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: '150x150', crop: 'center' }}" srcset="{{ item | img_url: '150x150', crop: 'center' }} 1x, {{ item | img_url: '150x150', scale: 2, crop: 'center' }} 2x" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <p><a href="{{ item.url }}">{{ item.product.title }}</a></p>

              {% unless item.product.has_only_default_variant %}
                <p>{{ item.variant.title }}</p>
              {% elsif item.properties._Gifted and item.product.id == 6770996510806 %}
                <p>{{ 'cart.general.free_gift_message' | t }}</p>
              {% endunless %}

              {% assign propertySize = item.properties | size %}

              {% if propertySize > 0 or item.product.metafields.sale.final_sale or item.variant.metafields.sale.final_sale or item.total_discount %}
              <div class="alert">
                  {% for p in item.properties %}
                    {% if p.first.first == "_" %}{% continue %}{% endif %}
                    {% assign first_character_in_key = p.first | truncate: 1, '' %}
                      <p{% if p.first contains 'ship' %} class="alert"{% endif %}>
                        {{ p.first }}:
                        {% if p.last contains '/uploads/' %}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                            {{ p.last }}
                        {% endif %}
                      </p>

                      {% if p.first == "Pre Order" %}
                        <input type="hidden" name="attributes[pre order]" value="" >
                      {% endif %}
                  {% endfor %}
                  {% if item.product.metafields.sale.final_sale or item.variant.metafields.sale.final_sale %}
                    <p>Final Sale</p>
                  {% endif %}
                  {% if item.total_discount > 0 and item.message %}
                    <p>{{ item.message }}</p>
                  {% endif %}
              </div>
              {% endif %}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </td>
            <td data-label="{{ 'cart.label.price' | t }}">
              <p>
                {% if WCItems_ItemCompareAtPrice != WCItems_ItemLinePrice %}
                  <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                  <s>{{ WCItems_ItemCompareAtPrice | money }}</s>
                  <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                  {{ WCItems_ItemPrice | money | remove: " " }}
                {% else %}
                  {{ WCItems_ItemPrice | money | remove: " " }}
                {% endif %}
              </p>
              {% if item.total_discount > 0 %}
              <p><s>{{ WCItems_ItemOriginalLinePrice | money | remove: " " }}</s></p>
              {% endif %}
            </td>
            <td data-label="{{ 'cart.label.quantity' | t }}">
              {% if item.properties._Gifted and item.product.id == 6770996510806 %}
                {{ item.quantity }}
                <input type="hidden" name="updates[]" value="{{ item.quantity }}">
              {% else %}
              <input type="number"
                     name="updates[]"
                     id="updates_{{ item.key }}"
                     value="{{ item.quantity }}"
                     min="0"
                     aria-label="{{ 'cart.general.item_quantity' | t }}">
              {% endif %}
            </td>
            <td data-label="{{ 'cart.label.total' | t }}">
                {{ WCItems_ItemLinePrice | money | remove: " " }}
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>

    <div class="cart-footer">
      <div class="grid">
        <div class="grid__item large-up--one-half">
            <label for="gift-wrap" style="    font-size: 1.1em;    font-weight: 600;">
              Is this order a gift?
              <input type="checkbox" name="attributes[Is this item a gift]" value="Yes" />
            </label>
          {% if settings.cart_notes_enable %}
          <div class="order-note">
            <label for="CartSpecialInstructions" style="margin-top: 10px;">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          </div>
          {% endif %}
        </div>
        <div class="grid__item large-up--one-half">
          <label>{{ 'cart.general.subtotal' | t }}</label>
          <div style="text-align: right;padding:10px;" class="saw-extra-note"></div>
          <p class="cart-total"><span class="saw-cart-original-total">{{ cart.total_price | money }}</span><br><span class="saw-cart-total"></span></p>
          {% if cart.total_discounts > 0 %}
            <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
          {% endif %}
          <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
          <input type="submit" name="update" class="update-btn" value="{{ 'cart.general.update' | t }}">
          <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
        </div>
      </div>

    </div>
  </form>
{% else %}

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}

</div>
{% include 'saw_cart' %}