{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

{% include 'breadcrumb' %}

<h1 class="page-title">{{ page_title }}</h1>

<div class="grid--uniform">
{% for collection in collections %}
  {%- comment %}<locksmith:f615>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
  {%- comment %}</locksmith:f615>{% endcomment -%}
  {% unless collection.handle == 'frontpage' %}
  <div class="grid-product grid__item medium-up--one-quarter small--one-half">
    <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">
      {% if collection.image != blank %}
        {{ collection | img_url: '480x480', crop: 'center' | img_tag: collection.title }}
      {% elsif collection.products.first != blank %}
        {{ collection.products.first | img_url: '480x480' | img_tag: collection.title }}
      {% else %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
      {% endif %}
    </a>

    <p class="product-title">
      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">{{ collection.title }}</a>
    </p>
  </div>
  {% endunless %}
{% endfor %}
</div>
