{% include 'saw_variant_variables' %}
{%- assign my_tag = product.handle | prepend: 'like-' -%}
<div id="app-product" data-product-tag="{{my_tag}}" data-variant="{{ product.product.selected_or_first_available_variant.price }}">
{% section 'product' %}
<script>  
  /*document.addEventListener('DOMContentLoaded', function() {
    if($('.new-variant-swatch.js-new-variant-swatch.is-active').length === 0){
      var sInd = 0;
      var findPre = setInterval(function (){
        if($('.spurit-po-wrapper').length > 0){
          $('.spurit-po-wrapper').hide();
          $('.spo-container').removeClass('spurit-hidden');
          clearInterval(findPre);
        }
        sInd++;
        if(sInd > 50){ //5 sec
          clearInterval(findPre);
        }
      },100);         
    }
  });*/
  </script>
{% section 'feel-good' %}
{% include 'related-products' %}
<div class="reviews">
  <div class="page-width">
    <h2>Reviews</h2>

    <!-- {% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %} -->
    
    <!-- Yotpo Widget --> 
    <div class="yotpo yotpo-main-widget"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
    data-price="{{ variant.price | money_without_currency }}"
    data-currency="{{ shop.currency }}"
    data-description="{{ product.description | escape }}">
    </div>
    
  </div>
</div>
  
<div id="chart-pop" class="product-pop">
{% for collection in product.collections %} 
  {% if collection.handle == 'dog-bandanas' %}
  {% section 'size-chart-dog-bandana' %}
  {% endif %}
  {% if collection.handle == 'dog-bow-tie-collars' %}
  {% section 'size-chart-dog-collar' %}
  {% endif %}
  {% if collection.handle == 'face-mask-and-bandana-sets' %}
  {% section 'size-chart-dog-bandana' %}
  {% endif %}
  {% if collection.handle == 'dog-collars' %}
  {% section 'size-chart-dog-collar' %}
  {% endif %}
  {% if collection.handle == 'dog-beds' %}
  {% section 'size-chart-dog-bed' %}
  {% endif %}
  {% if collection.handle == 'dog-harness' %}
  {% section 'size-chart-dog-harness' %} 
  {% endif %}
  {% if collection.handle == 'scrunchie-and-bandana-set' %}
  {% section 'size-chart-dog-bandana' %}
  {% endif %}
   {% if collection.handle == 'lady-bow-collar' %}
  {% section 'size-chart-dog-collar' %}
  {% endif %}
  {% if collection.handle == 'wear-sets' %}
  {% section 'size-chart-dog-bandana' %}
  {% endif %}
    {% if collection.handle == 'walk-sets' %}
  {% section 'size-chart-dog-collar' %}
  {% endif %}
{% endfor %}  
</div>
  
<div id="insert-pop" class="product-pop">
{% section 'dog-bed-fill-options' %}
</div>

<div id="shelter-pop" class="product-pop shelter-dog-pop">
{% section 'every-order' %}
</div>

<script>
  var appP = new Vue({
    delimiters: ['${', '}'],
    el: '#app-product',
    data: {
      relateProd: [],
      product_id: null
    },
    methods: {
      addCart: function(e) {
        this.product_id = document.querySelector('select[name=id]').value;
        var qty = parseInt(document.getElementById("Quantity").value);

        CartJS.addItem(this.product_id, qty, {},{

          "success": function(data, textStatus, jqXHR) {
            EventBus.$emit('CART_UPDATE', textStatus);

			
//             $('#cartimage').hide();
//             $('#ajaxloader').show();

//             $('#cartimage').show();
            
//             setTimeout(function(){
//               $('#ajaxloader').hide();
//               $('#cartimage').show();
//               console.log('finished 4 seconds');
//             }, 300);
          },
          "error": function(jqXHR, textStatus, errorThrown) {
            $('#message').addClass('message-error');
            $('#message').html('There was a problem adding to the cart!');
          }

        });
      }
    }
  });


    const accItem = document.querySelectorAll('.accordionItem');
    const accHD = document.querySelectorAll('.accordion-title');
    for (i = 0; i < accHD.length; i++) {
        accHD[i].addEventListener('click', toggleItem, false);
    }
    function toggleItem() {

        let itemClass = this.parentNode.className;

        if (itemClass == 'item close') {
            this.parentNode.className = 'item open';
        }
        if (itemClass == 'item open') {
            this.parentNode.className = 'item close';
        }
    }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "{{ product.title | escape }}",
    "url": "{{ shop.url }}{{ product.url }}",
    {% if product.featured_image %}
      {% assign image_size = product.featured_image.width | append: 'x' %}
      "image": [
        "https:{{ product.featured_image.src | img_url: image_size }}"
      ],
    {% endif %}
    "description": "{{ product.description | strip_html | strip_newlines | strip | escape }}",
    "gtin12": {{ current_variant.barcode | json }},
    {% if current_variant.sku != blank %}
      "sku": "{{ current_variant.sku }}",
    {% endif %}
    "brand": {
      "@type": "Brand",
      "name": "The Foggy Dog"
    },
    {% if product.variants %}
      "offers": [
        {% for variant in product.variants %}
          {
            "@type" : "Offer",
            "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : "{{ variant.price | divided_by: 100.00 }}",
            "priceCurrency" : "{{ shop.currency }}",
            "url" : "{{ shop.url }}{{ variant.url }}",
            "additionalProperty" :
            {
                "@type" : "PropertyValue",
                {% if variant.image %}
                  {% assign variant_image_size = variant.image.width | append: 'x' %}
                  "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
                {% endif %}
                {% if variant.title != blank %}
                  "name" : "{{ variant.title | escape }}",
                {% endif %}
                {% if variant.sku != blank %}
                  "sku": "{{ variant.sku }}",
                {% endif %}
                {% if variant.weight > 0 %}
                  "weight": {
                    "@type": "QuantitativeValue",
                    {% if variant.weight_unit != blank %}
                      "unitCode": "{{ variant.weight_unit }}",
                    {% endif %}
                    "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                  },
                {% endif %}
                "url": "{{ shop.url }}{{ variant.url }}"
            }
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    {% endif %}
  }
  </script>
  
  {% comment %}
  This script corrects an issue where when JS fails for older browsers, the old select will still show for the user
  {% endcomment %}
  
  <script>
    
    $( document ).ready(function() {
        if ( $('ul.option1').is(":visible")) {
          
        } else {
         
          $('select#SingleOptionSelector-0').show();
          
        }
      
      	if ( $('ul.option2').is(":visible")) {
          
        } else {
         
          $('select#SingleOptionSelector-1').show();
          
        }
      
      	if ( $('ul.option3').is(":visible")) {
          
        } else {
         
          $('select#SingleOptionSelector-2').show();
          
        }
      
      /*
      setTimeout( function() {
      if ( $('button.btn.add-to-cart').css('pointer-events') == 'none' ) {
        $('button.btn.add-to-cart').addClass('show-override' );
      } 
      }, 1000);
      */
          
    });
    
  </script>
  
  <style>
    .show-override {
      opacity: 1 !important;
      pointer-events: all !important;
    }
  </style>
