{% include 'saw_variant_variables' %}
{%- assign my_tag = product.handle | prepend: 'like-' -%}
<div id="app-product" data-product-tag="{{my_tag}}" data-variant="{{ product.product.selected_or_first_available_variant.price }}">
{% section 'product' %}
<script>  
  /*document.addEventListener('DOMContentLoaded', function() {
    if($('.new-variant-swatch.js-new-variant-swatch.is-active').length === 0){
      var sInd = 0;
      var findPre = setInterval(function (){
        if($('.spurit-po-wrapper').length > 0){
          $('.spurit-po-wrapper').hide();
          $('.spo-container').removeClass('spurit-hidden');
          clearInterval(findPre);
        }
        sInd++;
        if(sInd > 50){ //5 sec
          clearInterval(findPre);
        }
      },100);         
    }
  });*/
  </script>
{% section 'foursixty-pdp' %} 
{% section 'feel-good' %}
{% include 'related-products' %}
{% if product.metafields.okendo.summaryData.reviewCount > 0 %}
<div class="reviews">
  <div class="page-width">
    <h2>Reviews</h2>
    {% render 'okendo-reviews-widget', product: product %}
  </div>
</div>
{% endif %}
<div id="chart-pop" class="product-pop">
{% for collection in product.collections %} 
  {%- comment %}<locksmith:900d>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
  {%- comment %}</locksmith:900d>{% endcomment -%} 
  {% if collection.handle == 'dog-bandanas' %}
  {% section 'size-chart-dog-bandana' %}
  {% endif %}
  {% if collection.handle == 'dog-bow-tie-collars' %}
  {% section 'size-chart-dog-collar' %}
  {% endif %}
  {% if collection.handle == 'face-mask-and-bandana-sets' %}
  {% section 'size-chart-dog-bandana' %}
  {% endif %}
  {% if collection.handle == 'dog-collars' %}
  {% section 'size-chart-dog-collar' %}
  {% endif %}
  {% if collection.handle == 'dog-beds' %}
  {% section 'size-chart-dog-bed' %}
  {% endif %}
  {% if collection.handle == 'dog-harness' %}
  {% section 'size-chart-dog-harness' %} 
  {% endif %}
  {% if collection.handle == 'scrunchie-and-bandana-set' %}
  {% section 'size-chart-dog-bandana' %}
  {% endif %}
   {% if collection.handle == 'lady-bow-collar' %}
  {% section 'size-chart-dog-collar' %}
  {% endif %}
  {% if collection.handle == 'wear-sets' %}
  {% section 'size-chart-dog-bandana' %}
  {% endif %}
    {% if collection.handle == 'walk-sets' %}
  {% section 'size-chart-dog-collar' %}
  {% endif %}
{% endfor %}  
</div>
  
<div id="insert-pop" class="product-pop">
{% section 'dog-bed-fill-options' %}
</div>

<div id="shelter-pop" class="product-pop shelter-dog-pop">
{% section 'every-order' %}
</div>

<script>
    const accItem = document.querySelectorAll('.accordionItem');
    const accHD = document.querySelectorAll('.accordion-title');
    for (i = 0; i < accHD.length; i++) {
        accHD[i].addEventListener('click', toggleItem, false);
    }
    function toggleItem() {

        let itemClass = this.parentNode.className;

        if (itemClass == 'item close') {
            this.parentNode.className = 'item open';
        }
        if (itemClass == 'item open') {
            this.parentNode.className = 'item close';
        }
    }
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    "image": {{ product.featured_image | image_url: width: '800' | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": "The Foggy Dog"
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
      {% if product.metafields.okendo.summaryData.reviewCount > 0 %}
        ,"aggregateRating": {
          "@type": "AggregateRating",
          "description": "Okendo Reviews",
          "ratingValue": "{{ product.metafields.okendo.summaryData.reviewAverageValue }}",
          "ratingCount": "{{ product.metafields.okendo.summaryData.reviewCount }}"
        }
        {% elsif product.metafields.okendo.ReviewCount > 0 %}
        ,"aggregateRating": {
          "@type": "AggregateRating",
          "description": "Okendo Reviews",
          "ratingValue": "{{ product.metafields.okendo.ReviewAverageValue }}",
          "ratingCount": "{{ product.metafields.okendo.ReviewCount }}"
        }
        {% endif %}
    ]
  }
</script>
  
  {% comment %}
  This script corrects an issue where when JS fails for older browsers, the old select will still show for the user
  {% endcomment %}
  
  <script>
    
    $( document ).ready(function() {
        if ( $('ul.option1').is(":visible")) {
          
        } else {
         
          $('select#SingleOptionSelector-0').show();
          
        }
      
      	if ( $('ul.option2').is(":visible")) {
          
        } else {
         
          $('select#SingleOptionSelector-1').show();
          
        }
      
      	if ( $('ul.option3').is(":visible")) {
          
        } else {
         
          $('select#SingleOptionSelector-2').show();
          
        }
      
      /*
      setTimeout( function() {
      if ( $('button.btn.add-to-cart').css('pointer-events') == 'none' ) {
        $('button.btn.add-to-cart').addClass('show-override' );
      } 
      }, 1000);
      */
          
    });
    
  </script>
  
  <style>
    .show-override {
      opacity: 1 !important;
      pointer-events: all !important;
    }
  </style>