{%- assign pt_refine_text = settings.pt_refine_text | default: 'Refine' -%}

{% paginate search.results by 24 %}
<div class="search-page">

  <h1>
    {% if search.performed %}
      {{ 'general.search.results_for_html' | t: terms: search.terms }}
    {% else %}
      {{ 'general.search.title' | t }}
    {% endif %}
  </h1>

  <form class="search-form" action="/search" method="get" role="search">
    <label for="Search" class="label-hidden">
      {{ 'general.search.placeholder' | t }}
    </label>
    <input type="hidden" name="type" value="product" />
    <input type="search"
           name="q"
           id="Search"
           value="{{ search.terms | escape }}"
           placeholder="{{ 'general.search.placeholder' | t }}">
    <button type="submit" class="btn">
      {% include 'icon-search' %}
      <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
    <input type="hidden" name="type" value=“product">
  </form>


{% if search.performed %}
  <div class="grid--rev collection-grid">
    <div class="grid__item large-up--four-fifths medium--three-quarters">
      <div class="grid--uniform search-grid boost-pfs-filter-products">
        {% for item in search.results %}
          
          <div class="grid__item grid-product medium-up--one-third small--one-half">
            <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">    
            {% assign featured_image = item.image | default: item.featured_image %}
            {% if featured_image != blank %}
              <img src="{{ featured_image | img_url: '240x240', crop: 'center' }}" srcset="{{ featured_image | img_url: '240x240', crop: 'center' }} 1x, {{ featured_image | img_url: '240x240', scale: 2, crop: 'center' }} 2x" alt="{{ featured_image.alt }}">
            {% endif %}

            <div class="product-title">{{ item.title }}</div>

            {% if item.object_type == 'product' %}
              <p class="product-prices">
                {% if item.compare_at_price > item.price %}
                  {% if item.price_varies %}
                    {% assign sale_price = item.price | money %}
                    {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                  {% else %}
                    {{ 'products.product.on_sale' | t }}
                    <span itemprop="price">{{ item.price | money }}</span>
                  {% endif %}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <s>{{ item.compare_at_price | money }}</s>
                {% else %}
                  {% if item.price_varies %}
                    {% assign price = item.price | money %}
                    <span itemprop="price">{{ 'products.product.from_text_html' | t: price: price }}</span>
                  {% else %}
                    <span itemprop="price">{{ item.price | money }}</span>
                  {% endif %}
                {% endif %}
                {% unless item.available %}
                {{ 'products.product.sold_out' | t }}
                {% endunless %}
              </p>
            {% else %}
              <p>{{ item.content | strip_html | truncatewords: 20 }}</p>
            {% endif %}
            </a>
          </div>
        {% endfor %}        
      </div>
      <div class="boost-pfs-filter-bottom-pagination">
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
      </div>
      <div class="boost-pfs-filter-load-more"></div>
    </div>

    <div class="grid-sidebar grid__item large-up--one-fifth medium--one-quarter">
      <div class="collection-sidebar">
        <div class="filter-group refine-header">
          <h4>{{ pt_refine_text }}</h4>
        </div>

        <div class="boost-pfs-filter-tree-mobile-button"></div>
        <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v"></div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if search.performed %}
    {% if search.results_count == 0 %}
      <div class="bottom-404">
        {% section 'featured-collection' %}
      </div>
    {% endif %}
  {% endif %}
</div>
{% endpaginate %}

<script>
// Declare boostPFSThemeConfig
var boostPFSThemeConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = collection.sort_options[1].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Best Selling" {% endunless %},
      sorting_manual: {% assign temp = collection.sort_options[0].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = collection.sort_options[2].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = collection.sort_options[3].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = collection.sort_options[4].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = collection.sort_options[5].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = collection.sort_options[6].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = collection.sort_options[7].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, New to Old" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Relevance" {% endunless %},
      sale: {{ 'products.product.on_sale' | t | json }},
      sale_price: {{ 'products.product.sale_price' | t | json }},
      sold_out: {{ 'products.product.sold_out' | t | json }},
      vendor: {{ 'products.product.vendor' | t |json }},
      regular_price: {{ 'products.product.regular_price' | t | json }},
      items_with_count_one: {{ 'Item' | json}},
      items_with_count_other: {{ 'Items' | json }},
      current_page: {{ 'general.pagination.current_page' | t | json }},
    },
    label_basic: {
      sale: {{ label_sale | default: 'Sale' | json }},
      sold_out: {{ label_soldout | default: 'Sold Out' | json }},
      from: {{ label_from | default: 'From' | json }},
      label_sale_percent: {{ label_sale_percent | default: '' | json }}
    },
    custom: {
      // Add custom value here
      products_per_page: 24,
      product_grid_class: '',
      aspect_ratio: '1:1',
      show_sort_by: true,
      show_price: true,
      sold_out_enable: true,
      tag_label_enable: true
    }
  };// Declare Templates
var boostPFSTemplate = {
    'soldOutClass': ' product-sold-out',
    'saleClass': ' on-sale',
    'soldOutLabelHtml': {% render 'boost-pfs-filter-html', layout: 'soldOutLabelHtml' %},
    'saleLabelHtml': {% render 'boost-pfs-filter-html', layout: 'saleLabelHtml' %},
    'tagLabelHtml': {% render 'boost-pfs-filter-html', layout: 'tagLabelHtml' %},
    'vendorHtml': {% render 'boost-pfs-filter-html', layout: 'vendorHtml' %},
    // Grid Template
    'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},
    // For List View
    // List Template
    'productListItemHtml': {% render 'boost-pfs-filter-html', layout: 'productListItemHtml' %},
    // End For List View
    // Pagination Template
    'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
    'previousDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' %},
    'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
    'nextDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' %},
    'pageItemHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemHtml' %},
    'pageItemSelectedHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' %},
    'pageItemRemainHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' %},
    'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},
    // Sorting Template
    'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
    // Show Limit Template
    'showLimitHtml': {% render 'boost-pfs-filter-html', layout: 'showLimitHtml' %},
    // Breadcrumb Template
    'breadcrumbHtml': {% render 'boost-pfs-filter-html', layout: 'breadcrumbHtml' %},
    'breadcrumbDivider': {% render 'boost-pfs-filter-html', layout: 'breadcrumbDivider' %},
    'breadcrumbItemLink': {% render 'boost-pfs-filter-html', layout: 'breadcrumbItemLink' %},
    'breadcrumbItemSelected': {% render 'boost-pfs-filter-html', layout: 'breadcrumbItemSelected' %},
    'collectionFeature': {{ collectionFeature | json }},
};
</script>